<h1>Hello, {{ recipient.full_name }}!</h1>
<p>
    <b>{{ reporter.full_name }}</b> just reported about abusive content
    <a href="{{ entity.url }}">{{ entity.title }}</a> found on the site <a href="{{ base_url() }}">{{ t('app_name') }}</a>.
    Please review the content and make appropriate actions.
</p>
<p>
    --<br/>
    Sincerely yours, {{ t('app_name') }}.
</p>
