<h1>Hello, {{ user.first_last_name }}!</h1>
<p>
    The are new content "{{ entity.title }}" on the <a href="{{ base_url() }}">{{ t('app_name') }}</a>
    authored by <b>{{ entity.author.first_last_name }}</b>. Please don't forget to
    <a href="{{ entity.modify_url }}">review this content.</a>.
</p>
<p>
    --<br/>
    Sincerely yours, {{ t('app_name') }}.
</p>
