<h1>Привет, {{ recipient.first_last_name }}!</h1>
<p>
    <b>{{ reporter.first_last_name }}</b> только что сообщил о нежелательном содержимом
    <a href="{{ entity.url }}">{{ entity.title }}</a>, найденном на сайте <a href="{{ base_url() }}">{{ t('app_name') }}</a>.
    Пожалуйста, проверьте материал и примите соответствующие меры.
</p>
<p>
    --<br/>
    С наилучшими пожеланиями, {{ t('app_name') }}.
</p>
