<h1>Здравствуйте, {{ entity.author.first_last_name }}!</h1>
<p>
    Статус вашей публикации &laquo;{{ entity.title }}&raquo; на <a href="{{ base_url() }}">{{ t('app_name') }}</a> был изменён на
    <b>&laquo;{{ t('status_' ~ entity.status) }}&raquo;</b>.
</p>
<p>
    --<br/>
    С наилучшими пожеланиями, {{ t('app_name') }}.
</p>
