<h1>Здравствуйте, {{ user.first_name }}!</h1>
<p>
    На <a href="{{ base_url() }}">{{ t('app_name') }}</a> имеется ожидающий модерации материал
    &laquo;{{ entity.title }}&raquo;, созданный пользователем {{ entity.author.first_last_name }}.
    Пожалуйста, <a href="{{ entity.modify_url }}">решите дальнейшую судьбу материала</a>.
</p>
<p>
    --<br/>
    С наилучшими пожеланиями, {{ t('app_name') }}.
</p>
