<h1>Привіт, {{ recipient.first_name }}!</h1>
<p>
    <b>{{ reporter.first_last_name }}</b> щойно повідомив про небажаний контент
    <a href="{{ entity.url }}">{{ entity.title }}</a>, знайдений на сайті <a href="{{ base_url() }}">{{ t('app_name') }}</a>.
    Будь ласка, перевірте матеріал і прийміть відповідні заходи.
</p>
<p>
    --<br/>
    З найкращими побажаннями, {{ t('app_name') }}.
</p>
