<h1>Привіт, {{ entity.author.first_last_name }}!</h1>

<p>
    До вашого матеріалу <a href="{{ comment.url }}">{{ entity.title | e }}</a> було залишено коментар користувачем
    <b>{{ comment.author.first_last_name }}</b>:
</p>

<blockquote>
    {{ comment.body | e }}
</blockquote>

<p>
    --<br/>
    З найкращими побажаннями, {{ t('app_name') }}.
</p>
