<h1>Вітаю, {{ entity.author.first_name }}!</h1>
<p>
    Статус вашої публікації <b>&laquo;{{ entity.title }}&raquo;</b> на <a href="{{ base_url() }}">{{ t('app_name') }}</a>
    було змінено на <b>&laquo;{{ status }}&raquo;</b>.
</p>
<p>
    --<br/>
    З найкращими побажаннями, {{ t('app_name') }}.
</p>
