<h1>Вітаю, {{ user.first_last_name }}!</h1>
<p>
    На <a href="{{ base_url() }}">{{ t('app_name') }}</a> є матеріал &laquo;{{ entity.title }}&raquo;, запропонований
    користувачем {{ entity.author.first_last_name }} та який очикує модерації.
    Будь ласка, <a href="{{ entity.modify_url }}">вирішить подальшу долю матеріалу</a>.
</p>
<p>
    --<br/>
    З найкращими побажаннями, {{ t('app_name') }}.
</p>
